
@import 'style-files/index';
// @import 'style-files/variables';
@import 'style-files/mixins';


/* Base Styles -------------------- */
html {
    font-size: 16px;
} 

@media (max-width: 768px) {
    html {
        font-size: 13px
    }
}










.centered-content {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.centered-content h1 {
    font-size: 6rem;
    font-weight: 700;
    color: #0088bb;
    background: linear-gradient(-80deg, #0088bb,  #005b8e);
    background: -webkit-linear-gradient(-80deg, #0088bb,  #005b8e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


iframe {
    height: calc(100vh - 140px);
    margin-bottom: 3rem;
  }
  

  a {
    text-decoration: none;
  }



.text-grad-black {
    background: linear-gradient(380deg, #000000, #545454);
    background: -webkit-linear-gradient(380deg, #000000, #545454);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.text-grad-primary {
    background: linear-gradient(-80deg, #0088bb, #005b8e);
    background: -webkit-linear-gradient(-80deg, #0088bb, #005b8e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

