
@import 'style-files/index';
@import 'style-files/variables';
@import 'style-files/mixins';


/* Base Styles -------------------- */
html {
    font-size: 16px;
} 

@media (max-width: 768px) {
    html {
        font-size: 13px
    }
}

body {
    @include ltr(font-family, $main-font-regular);
    @include rtl(font-family, $arabic-font-regular);
    @include ltr(background-image, url('./../img/1.jpg'));
    @include rtl(background-image, url('./../img/2.jpg'));
}

.heading {
    @include ltr(text-align, left);
    @include rtl(text-align, right);
    background-color: #fff;
}