// 
// Sidenav Dark
// 

// Dark theme for sidenav
// Append .sb-sidenav-dark to .sb-sidenav to use

.sb-sidenav-dark {
    background-image: $sidenav-dark-bg;
    color: $sidenav-dark-color;

    .sb-sidenav-menu {
        .sb-sidenav-menu-heading {
            color: $sidenav-dark-heading-color;
        }

        .nav-link {
            // color: $sidenav-dark-link-color;
            background: linear-gradient(380deg, #000000, #545454);
            background: -webkit-linear-gradient(380deg, #000000, #545454);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;

            .sb-nav-link-icon {
                // color: $sidenav-dark-icon-color;
                background: linear-gradient(380deg, #000000, #545454);
                background: -webkit-linear-gradient(380deg, #000000, #545454);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            .sb-sidenav-collapse-arrow {
                // color: $sidenav-dark-icon-color;
                background: linear-gradient(380deg, #000000, #545454);
                background: -webkit-linear-gradient(380deg, #000000, #545454);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }

            &:hover {
                // color: $sidenav-dark-link-active-color;
                // color: #555555;
            }

            &.active {
                // color: $sidenav-dark-link-active-color;

                .sb-nav-link-icon {
                    // color: $sidenav-dark-link-active-color;
                }
            }
        }
    }

    .sb-sidenav-footer {
        background-color: $sidenav-dark-footer-bg;
    }
}